<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit|Password</title>
    <link rel="shortcut icon" href="images/fav1.png">
    <script src="files/jquery.js"></script>
    <script src="files/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="files/css/bootstrap.min.css"/>
    <!-- FontAwesome icon and google fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- Media Query and Styling -->
    <style>
        #hk1
        {
            display:none;
        }
    @media screen and (max-width:500px)
    {
        #hk{
            display:none;

        }
        #kk
        {
           text-align: center;
        }
        #hk1
        {
            display: block;
            text-align: center;
        }
        #margin{
            margin-top: 8%;

        }
        #publish{
           margin-left: 30%;
        }
        #top{
            margin-top: 5%;
        }
        #status{
            display: none;
        }
        #hide{
            display: none;
        }
        

    }
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color:green;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }
        /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Navbar Starts -->
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark content-justify-center fixed-top">
                <span><img src="{% static 'images/fav1.png' %}" alt="" style="height:40px; width:50px"></span>
                <a href="" class="navbar-brand display-1" style="font-family: 'Lobster', cursive; font-size: 30px; color:white;">&nbsp; Friend's Zone</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Items in Navbar -->
                <div id="nav" class="collapse navbar-collapse" >
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="page1.html" class="nav-link" style="color:white">Home</a></li>
                        <li class="nav-item"><a href=""  class="nav-link" style="color:white">Find Friends</a></li>
                        <li class="nav-item"><a href="" class="nav-link" style="color:white">Notifications</a></li>
                        <li class="nav-item"><a href="settings_basicinfo.html" class="nav-link" style="color:white">Settings</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link" style="color:white">Contact</a></li>
                        <li class="nav-item"><a href="{% url 'friendapp:logout' %}" class="nav-link" style="color:white">Log Out</a></li>
                    </ul>
                </div>
            </nav>
            <div style='height:20px;'>
            </div>
        </div>
    </div>  <!-- first row ends -->
    <!-- 2nd row Starts -->
    <div class="row">
        <div class="col-md-10 mx-auto" style='position: relative;'>
            <div class='row'style="padding-top:400px;padding-bottom:30px; background:url({% static 'images/time.jpg' %});background-repeat:no-repeat; background-size:cover; border-radius:10px;">
                <div class='col-md-12 px-0 bg-dark ' id="hk" style="opacity:0.8;height:60px">
                    <div class='row'>
                        <div class="col-md-2">

                        </div>
                        <!-- bar linked with profile picture -->
                        <div class='col-md-10  mt-2'  style="word-spacing:11px;font-family:arial">
                            <ul class="ml-5" type="none">
                               <span><a href=""style="color:white">Timeline</a></span>
                               <span><a href="" >About</a></span>
                               <span><a href="" style="color:white">Album</a></span>
                               <span><a href="" style="color:white">Friends</a></span>
                               <span class="ml-5" style="font-family:arial; word-spacing: 10px; color:white; word-spacing: 0px">1,299 People Following her</span>
                            <button class="btn-info btn py-2 px-4 ml-4" style="border:none;color:white;border-radius: 20px;">Add Friend</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- profile picture code -->
            <div class="box col-sm-12" id="kk" style='position:absolute;bottom:-20px;'>
                <img src="{% static 'images/girl.jpg' %}" height='200' width='200' alt="" style='border:10px solid white;border-radius:50%;'>
            </div>
            <div class="col-md-12 mx-auto bg-light">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile info -->
                    <h1 class="mt-4  text-primary" style="text-align:center;font-size:30px">{{user}}</h1>
                    <p class="text-muted" style="text-align:center;">Creative Director</p>
                    
                    <!-- bar shown using media query -->
                    <div class='col-md-12 px-0 ' id="hk1" style="height:60px;"> 
                        <div class='row'>
                            <div class='col-md-10  mt-2'  style="font-family:arial">
                                <ul type="none" style="word-spacing:10px;">
                                    <span><a href=""style="color:black">Timeline</a></span>
                                    <span><a href="">About</a></span>
                                    <span><a href="" style="color:black">Album</a></span>
                                    <span><a href="" style="color:black">Friends</a></span>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <button class=" btn btn-info py-2 px-4 mt-2" style="border:none;color:white;border-radius: 20px;">Add Friend</button>
                            </div>
                        </div>
                    </div>
                    <!-- options in basic info settings -->
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <ul type="none">
                                <li class="my-2" style="border-left:2px solid lightgreen;"><a href="change_profile.html" style="color:black"><i class="fas fa-book m-2"></i><span>Change Profile</span></a></li><hr>
                                <li class="my-2"><a href="settings_basicinfo.html" style="color:black"><i class="fas fa-info-circle m-2"></i><span>Basic Infomation</span></a></li><hr>
                                <li class="my-2"> <a href="settings_education.html" style="color:black"><i class="fas fa-briefcase m-2"></i><span>Education and Work</span> </a></li><hr>
                                <li class="my-2"> <a href="settings_interests.html" style="color:black"><i class="fas fa-heart m-2"></i><span>My Interests</span></a></li><hr>
                                <li class="my-2" > <a href="settings_account.html" style="color:black"><i class="fas fa-sliders-h m-2"></i><span>Account Settings</span></a></li><hr>
                                <li class="my-2" > <a href="settings_password.html" style="color:black"><i class="fas fa-lock m-2"></i><span>Change Password</span> </a></li><hr>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- form on click basic info -->
                <div class="col-md-7 mt-4">
                    <h2>Change Profile</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {% if status %}
                                <p class="alert alert-success">{{status}}</p>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="email" class="form-control" value="{{user.email}}">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="contact" class="form-control" value="{{register.phone_no}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="address"class="form-control" rows="4">{{register.address}}</textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name='image' value="Upload Profile Pic" class="btn btn-primary">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-warning" value="Save Changes">
                        </div>
                    </form>
                </div>   <!-- form ends -->
                <!-- sidebar on right side -->
                <div class="col-md-2 mt-4 static">
                    <p class="text-muted" ><strong> Sarah's Activity</strong></p>
                    <p class="text-muted mb-1" style="border-left:2px solid green;"><a href="" class="text-primary" >Sarah</a>&nbsp;Commended</p>
                    <p class="text-muted">on a photo</p>
                    <p class="text-muted">5 min. ago</p>
                    <hr/>
                    <p class="text-muted mb-1" style="border-left:2px solid green;"><a href="" class="text-primary" >Sarah</a>&nbsp;Has posted a</p>
                    <p class="text-muted">photo</p>
                    <p class="text-muted">an hour ago</p>
                    <hr/>
                    <p class="text-muted mb-1" style="border-left:2px solid green;"><a href="" class="text-primary" >Sarah</a>&nbsp;Liked her</p>
                    <p class="text-muted">friend's post</p>
                    <p class="text-muted">4 hour ago</p>
                    <hr/>
                    <p class="text-muted mb-1" style="border-left:2px solid green;"><a href="" class="text-primary" >Sarah</a>&nbsp;Has shared an</p>
                    <p class="text-muted">album</p>
                    <p class="text-muted">1 day ago</p>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- footer containing information -->
<hr class="mt-5" style="background:linear-gradient(lightblue,skyblue); height:10px; border-radius: 50%;"/>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <a href=""><img src="{% static 'images/fav1.png' %}" class="logo" style="height:80px; width:80px;font-size:30px" />
                    <span class="text-muted" style="font-weight:bold; font-size:30px;">FriendZone</span>
                </a>
            </div>
            <div class="col-md-2 col-sm-2 mt-3">
                <p class="text-primary">For individuals</p>
                <ul>
                    <li><a href="" class="text-muted">Sign Up</a></li>
                    <li><a href="" class="text-muted">Login</a></li>
                    <li><a href="" class="text-muted">Explore</a></li>
                    <li><a href="" class="text-muted">Finder app</a></li>
                    <li><a href="" class="text-muted">Features</a></li>
                    <li><a href="" class="text-muted">Language Setting</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 mt-3">
                <p class="text-primary">For businesses</p>
                <ul>
                    <li><a href="" class="text-muted">Business signup</a></li>
                    <li><a href="" class="text-muted">Business login</a></li>
                    <li><a href="" class="text-muted">Benefits</a></li>
                    <li><a href="" class="text-muted">Resources</a></li>
                    <li><a href="" class="text-muted">Advertise</a></li>
                    <li><a href="" class="text-muted">Setup</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 mt-3">
                <p class="text-primary">About</p>
                <ul>
                    <li><a href="" class="text-muted">About us</a></li>
                    <li><a href="" class="text-muted">Contact us</a></li>
                    <li><a href="" class="text-muted">Privacy Policy</a></li>
                    <li><a href="" class="text-muted">Terms</a></li>
                    <li><a href="" class="text-muted">Help</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 mt-3">
                <p class="text-primary">Contact Us</p>
                #C-86, Industrial Area, Phase 7 Mohali, India <hr>
                <a href="">info@sachtechsolution.com</a> <hr>  
                <a href="">http://sachtechsolution.com</a> <hr>
            </div>
        </div>
    </div>
</footer>
<div class='col-md-12 py-2 bg-dark text-light text-center px-0'>
    <p>SachTech Solutions; all rights reserved!</p>
</div> 
</body>
</html>                